/* ---------------------------------
 *              Card
 * --------------------------------- */
.card
    overflow: visible
    border-top: solid 1px $primary2
    border-left: solid 1px $primary2

    & + .card, & + .column-right-shadow
        margin-top: 1.5rem

    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius

    .media + .media
        border: none
        margin-top: 0
